.brands-body > .panel-title {
    position: relative;
}

#brands {
    height: 55vh;   
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--primary);
}

.brand_label {
    --brand-size: 60px;
    height: var(--brand-size) !important;
    width: var(--brand-size) !important;
}

.brand_label > img {
    max-width: 100%;
}

#brands > label > img{
    max-height: 100%;
    max-width: 100%;
}

#brands-done-container {
    bottom: var(--tab-height);
    position: fixed;
    width: 100vw;
}

#brands-done {
    margin: 10px auto;
}

.brands-searchbar-container {
    bottom: var(--tab-height);
    position: fixed;
    width: 100vw;
    margin: 5px;
}

.brands-searchbar-panel {
    border-radius: 220px;
    background-color: var(--tertiary);
    width: 80vw;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.brands-searchbar {
    border-radius: 20px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    text-align: center;
}

.brands-search-icon {
    background-color: white;
    border-radius: 20px;
    --size: 30px;
    width: var(--size);
    height: var(--size);
    display: inline;
}
