.add-rec-item {
    margin-top: 20px;
    position: absolute;
    width: 90vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary);
}

.rec-img-container {
    padding: 10px;
    background-color: var(--secondary);
    height: 100px;
    max-width: 500px;

    margin: 10px auto;
    width: 90%;
    max-height: 60%;
    overflow-y: scroll;
    border-radius: 3px;
    color: var(--primary);
    border-radius: var(--border-radius)
}

.rec-img-thumb {
    max-height: 200px;
    max-width: 200px;
    padding: 5px;
}

.add-item-input {
    padding: 10px;
}

.add-item-input-field {
    border-radius: 6px;
    text-align: center;
    width: 90%;
    margin-top: 20px;
}

.recommendation-item {
}

.recommendations-to-be-made {
    display: flex;
    flex-direction: row;
    flex-wrap: flex;
    justify-content: center;
}

.demo {
    display: flex;
    justify-content: space-around;
}

.demo > div > img {
    max-height: 100px;
}