.segments {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.segment {
    background-color: whitesmoke;
    box-shadow: var(--shadow);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}